.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.header{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height:120px;

}

body{
  background-color: black;
}


 h1{
   color: white;
   font-size:40px;
 }

.list-wrapper {
  background-color: #282c34;
  border: 2px solid white;
  color:white;
  font-size:20px;
 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
